{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "jest",
    "@typescript-eslint",
    "import",
    "prettier",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jest/globals": true,
    "es6": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "justPuppeteer": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", "tsx"]
      }
    }
  },
  "ignorePatterns": ["node_modules/", ".vscode/"],
  "rules": {
    "no-console": ["error", { "allow": ["error"] }],
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
